# 1.
name: Test & Build

# 2.
on:
  pull_request:
    branches:
      - master
      - dev
  push:
    branches:
      - master
      - dev

# 3.
jobs:
  main:
    runs-on: ubuntu-latest

    # 4.
    steps:

      # 5.
      - name: Clone repository
        uses: actions/checkout@v4

      # 6.
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: "18.x"

      # 7.
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.32.8'

      # 8.
      - name: Get Flutter packages
        run: flutter pub get

      # 9.
      - name: Check for lints
        run: flutter analyze

      # 10.
      - name: Run all tests
        run: flutter test

      # 11.
      - name: Build APK
        run: flutter build apk

      # 12.
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Releases
          path: |
            build/app/outputs/flutter-apk/app-release.apk